.locale-selector{
  .active{
    background-color: #eee;
  }

  .flag-circle {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin-right: 16px;
    font-size: 18px;
    line-height: 32px;
    vertical-align: middle;
  }
}



