<template>
  <require from="resources/elements/locale-selector/locale-selector"></require>
  <require from="./views-layout.css"></require>
  <div class="layout views-layout mdl-layout mdl-layout--fixed-header mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--waterfall">
      <!-- Top row, always visible -->
      <div class="mdl-layout__header-row mdl-lo">
        <!-- Title -->
        <span class="mdl-layout-title" t.bind="topicTerm.key"></span>
        <div class="mdl-layout-spacer"></div>

        <slot name="action"></slot>

      </div>
      <!-- Bottom row, not visible on scroll -->
      <div class="mdl-layout__header-row">
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a repeat.for="nav of router.navigation"
             class="mdl-navigation__link ${nav.isActive ? 'mdl-navigation__link--current' : ''}"
             href.bind="nav.href"
             t.bind="nav.settings.tTerm"></a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title" t.bind="topicTerm.key"></span>
      <nav class="mdl-navigation">
        <a repeat.for="nav of router.navigation"
             class="mdl-navigation__link ${nav.isActive ? 'mdl-navigation__link--current' : ''}"
             href.bind="nav.href"
             t.bind="nav.settings.tTerm"></a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <slot name="content"></slot>
      </div>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <ul class="mdl-mini-footer__link-list">
            <li><span href="#0">copyright © sharry 2016</span></li>
          </ul>
        </div>
        <div class="locale-selector" as-element="locale-selector"></div>
      </footer>
    </main>
  </div>

</template>
